body{
margin:auto;
}
.navbar{
list-style:none;
display:flex;
justify-content:space-around;
background-color:blue;
padding:10px;
}
.navit{
text-decoration:none;
color:white;
font-size:30px;
}
.intro{
display:flex;
justify-content:flex-end;
align-items:center;
}
.logo{
width:200px;	
}
